/* CUSTOM */

.bg-custom {
  background-color: #202837;
}

.text-custom {
  color: #D2D9E5;
}

.button-custom {
  background-color: #d3b34f;
  color: #202837;
}

.button-custom:hover {
  background-color: #9b833a;
  color: #D2D9E5;
}
